/*
Name: GURPRIYA KAUR
FILE: quiz1.css (Formatting for index.html)
SUBMISSION: CRISTINA RIBEIRO
COURSE: WEB PROGRAMMING
*/

body
{
	background-color: #6069f0;
	font-family: 'Monospace';
}
.container
{
	height: 350px;
	width: 300px;
	position: absolute;
	top: 50px;
	left: 50px;
	border: 1px solid black;
	background-color: #7ee0db;
}
.question
{
	padding-left: 10px;
	font-size: 20px;
	margin: 10px 0 10px 0;
}
.option
{
	width: 400px;
	display: inline-block;
	padding-left: 10px;
	vertical-align: middle;
	margin: 20px 0 20px 0
}
.next-btn
{
	margin: 420px 100px 10px 50px;
	width: 150px;
	font-size: 20px;
	
	background-color: #5df238;
}
.submit-answer
{
	float: left;
	margin-top: 420px;
	margin-left: 30px;
	width: 180px;
	font-size: 20px;
	background-color: #5df238;
}
.container1
{
	border: none;
	height: 110px;
	width: 580px;
}
.help-button
{
	margin-left: 40px;
	margin-top: 30px;
	width: 150px;
	text-decoration: underline;
	font-weight: bold;
	color: red;
}
.restart-button
{
	margin-left: 60px;
	width: 150px;
	text-decoration: underline;
	font-weight: bold;
	color: red;
}
.container-result
{
	padding: 10px;
	text-align: center;
	font-size: 45px;
	height: 80px;
	width: 600px;
	position: absolute;
	top: 50px;
	left: 50px;
	border: 1px solid black;
	background-color: #7ee0db;
}

.hlp-btn
{
	text-align: center;
	font-size: 40px;
	color: yellow;
}

.g-btn
{
	float: left;
	margin-top: 50px;
	margin-left: 50px;
	width: 200px;
	font-size: 20px;
	background-color: #5df238;
}

	
	

	
	
	
